Repository qiskit-community/qiskit-textbook, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aasfaw, @frankharkins, @delapuente, @1ucian0, @vabarbosa, @quantumjim, @HwajungKang, @kUmezawa, @kifumi

updated two qubit variational form with optimal one
  content/ch-applications/images/U3_var_form.png
  content/ch-applications/images/U_var_form.png
  content/ch-applications/images/two_qubit_var_form.png
  content/ch-applications/vqe-molecules.ipynb
Owners: @aasfaw, @frankharkins, @quantumjim, @HwajungKang, @vabarbosa

kick build
  qiskit-textbook-src/qiskit_textbook/widgets/__init__.py
Owners: @aasfaw, @frankharkins, @delapuente, @1ucian0, @vabarbosa

kick build
  qiskit-textbook-src/qiskit_textbook/widgets/__init__.py
Owners: @aasfaw, @frankharkins, @delapuente, @1ucian0, @vabarbosa

update references to default branch
  .github/workflows/deploy.workflow.yml
  CONTRIBUTING.md
  README.md
  _includes/topbar.html
  content/preface.ipynb
  i18n/locales/ja/guideline-ja.md
  i18n/locales/ja/preface.ipynb
Owners: @aasfaw, @frankharkins, @delapuente, @1ucian0, @vabarbosa, @quantumjim, @HwajungKang, @kifumi

update references to default branch
  .github/workflows/deploy.workflow.yml
  CONTRIBUTING.md
  README.md
  _includes/topbar.html
  content/preface.ipynb
  i18n/locales/ja/guideline-ja.md
  i18n/locales/ja/preface.ipynb
Owners: @aasfaw, @frankharkins, @delapuente, @1ucian0, @vabarbosa, @quantumjim, @HwajungKang, @kifumi

.github/CODEOWNERS:

# This file defines the persons that will be assigned as reviewers for PRs that
# modify a particular file in the repo.

# Generic rule for the repository. This pattern is actually the one that will
# apply unless specialized by a later rule
* @aasfaw @frankharkins @delapuente @1ucian0 @vabarbosa

# Individual folders on root directory
/content         @aasfaw @frankharkins @quantumjim @HwajungKang @vabarbosa
/content/ch-quantum-hardware @kUmezawa
/i18n @kifumi
